@import "../../../../assets/scss/base/variables";

::ng-deep {
  .list-1 .col-item {
    height: 30px;
  }
}

.item-title {
  font-size: 18px;
  line-height: normal;
}

.profile-itempic {
    img {
        float: none;
        margin: 0 auto;
        width: 50%;
        height: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }
    .circle-img-responsive {
        height: 120px;
        width: 120px;
      margin-left: auto;
      margin-right: auto;
    }
}

.profile-itemtitle {
    margin-top: 0px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    a {
        &:hover,
        &:focus {
            color: $dark-gray;
        }
    }
}

.panel {
    &:hover {
        z-index: 2;
        background: #fff;
        border: 1px solid #ccc;
        box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.4);
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.13);
    }
    .amazon-body {
        padding: 10px;
        border-left: 1px solid #dddddd;
        border-right: 1px solid #dddddd;
    }
    .profit-div {
        border-right: 1px solid #dddddd;
        padding: 0;
        .header {
            padding: 10px;
            border-bottom: 1px solid #dddddd;
        }
        .contet {
            padding: 10px;
            font-size: 18px;
        }
    }
}

.delete-btn-container {
    display: flex;
    align-items: center;
}

.mat-spinner {
    margin: 0 auto !important;
}

.content-body {
    border-bottom: 1px dashed #e0e9f3;
    margin-bottom: 5px;
    .col-md-2 {
        margin-top: 5px;
    }
    .col-md-10 {
        img {
            width: auto !important;
        }
    }
}

.total-number {
    padding-top: 2%;
}

.pageionation-custom {
    width: 29%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.list-div {
    width: 95%;
}

.float-right {
    padding: 0;
}

.fa-smaller {
    font-size: smaller;
}

.titles-table {
    font-size: 17pt;
    border: 1px solid #d3d3d3;
    border-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #f5f5f5;
    .col-md-6 {
        padding: 5px;
        &:nth-child(2) {
            border-left: 1px solid #d3d3d3;
        }
    }
}

.titles-table-small {
    display: none;
}

.fa-stack {
    cursor: pointer;
}

.fa-stack:hover .fa.fa-bar-chart {
    &::before {
        background: #757575;
    }
    color: white;
}

.fa-stack:hover .fa.fa-square-thin {
    color: black;
}

.fa-stack:hover .fa.fa-square-o {
    opacity: 1.0
}

@media (max-width: 767px) {
    .titles-table {
        display: none;
    }
    .titles-table-small {
        display: block;
        font-size: 14pt;
        font-weight: bold;
        padding-bottom: 5px;
        color: #007bff;
    }
}

.loader-property {
    width: 30px;
    padding-left: 10px;
    padding-bottom: 3px;
}

.loading-center {
    margin-top: 10%;
}

.list-wrapper {
    margin: 0 15px;
}

.action-div {
    padding: 3% 0;
    button {
        width: 96%;
        margin: 5% 0;
    }
}

.sh-icon {
    background-image: url(https://m.media-amazon.com/images/G/01/AUIClients/AmazonUIBaseCSS-sprite_1x-7233320…._V2_.png);
    -webkit-background-size: 400px 900px;
    background-size: 400px 900px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
    &::before {
        content: "";
        position: absolute;
        right: -5px;
        border-left-width: 0;
    }
    &::after {
        content: "";
        position: absolute;
        right: -5px;
        border-left-width: 0;
    }
}

.fa-amazon-items {
    &::before {
        content: url(../../../../assets/image/amazon_box.png);
    }
    &:hover {
        cursor: pointer;
    }
}

@media (max-width: 576px) {
    .action-div {
        padding: 3% 1%;
        button {
            width: 35%;
            margin: 5% 0;
        }
    }
}

@media (max-width: 768px) {
    .action-div {
        padding: 3% 1%;
        button {
            width: 35%;
            margin: 5% 0;
        }
    }
}

.chart-icon {
    cursor: pointer;
}

.icon-red {
    color: #bd2130;
}
