<div class="content" fxLayout="row" fxLayoutAlign="center">

    <mat-card elevation="5" fxFlex>

        <mat-card-title>
            <!-- <h3>{{ restrictionMessage }}</h3> -->
            <h2>{{ title }}</h2>
        </mat-card-title>

        <mat-card-content>

            <p [class]="notification.msgType" *ngIf="notification">{{notification.msgBody}}</p>

            <form *ngIf="!submitted" [formGroup]="form" (ngSubmit)="onSubmit()" #signupForm="ngForm">
                <mat-input-container>
                    <!-- <label>E-mail: </label> -->
                    <input matInput formControlName="email" required placeholder="E-mail">
                </mat-input-container>
                <mat-input-container>
                    <!-- <label>Password: </label> -->
                    <input matInput formControlName="password" required type="password" placeholder="Password">
                </mat-input-container>
                <mat-input-container>
                    <!-- <label>First Name: </label> -->
                    <input matInput formControlName="firstName" placeholder="First Name">
                </mat-input-container>
                <mat-input-container>
                    <!-- <label>Last Name: </label> -->
                    <input matInput formControlName="lastName" placeholder="Last Name">
                </mat-input-container>
                <!-- <mat-input-container> -->
                    <div class="country">
                        <select [formControl]="form.controls['isoAlpha2Country']" class="form-control" formControlName="isoAlpha2Country">
                          <option [ngValue]="null" disabled>Country of business</option>
                          <option *ngFor="let country of countries" [ngValue]="country.isoAlpha2Country">{{ country.country }}</option>
                        </select>
                      </div>
                <!-- </mat-input-container> -->

                <!-- <mat-input-container> -->
                    <div class="accountType">
                        <select [formControl]="form.controls['accountType']" class="form-control" formControlName="accountType">
                          <option [ngValue]="null" disabled>Account type</option>
                          <option *ngFor="let accountType of accountTypes" [ngValue]="accountType.accountType">{{ accountType.displayName }}</option>
                        </select>
                      </div>
                <!-- </mat-input-container> -->

                <mat-checkbox formControlName="gdpr" class="float-left checkbox-terms">
                    Agree with <a class="terms-link" (click)="openTermsModal();" data-toggle="modal">Terms and Conditions</a>
                </mat-checkbox>
                <input type="hidden" formControlName="ipAddress">
                <button type="submit" [disabled]="!isFormValid()" mat-raised-button color="primary">Sign up</button>
            </form>
            <br>

            <mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>

        </mat-card-content>

    </mat-card>

</div>
