.mat-cell {
  .subinformation {
    span {
      display: block;
    }
  }

  &.mat-column-amazonTitle {
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
  }

  &.mat-column-sellerInfo {
    .subinformation {
      font-size: 12px;
    }
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
  }

  .br {
    display: flex;
    justify-content: center;
    align-items: center;
    .br-unit {
      width: 16px;
      height: 16px;
    }
  }

  .subinformation { 
    display: block;
    color: #323538;
    font-size: 11px;
  }
}

.mat-sort-header-container {

  .mat-sort-header-button:focus {
    outline-width: 0;
  }

  .mat-sort-header-arrow { 
    display: none;
  }

  .mat-sort-header-arrow.mat-custom-arrow { 
    display: block;
    opacity: 0;
    transform: translateY(25%); 

    &.active-arrow { 
      opacity: 1;
    }
  }

  &:hover {
    .mat-sort-header-arrow.mat-custom-arrow { 
      opacity: 0.54;
      transform: translateY(0); 
    }   
  }
}
