<div class="content" fxLayout="row" fxLayoutAlign="center">
    <mat-card elevation="5" fxFlex>
        <mat-card-subtitle>Reset Your Password</mat-card-subtitle>
        <p [class]="notification.msgType" *ngIf="notification">{{notification.msgBody}}</p>
        <mat-card-content>
            <form *ngIf="!submitted" [formGroup]="form" (ngSubmit)="onSubmit()" #changePasswordForm="ngForm">
                <mat-input-container>
                    <input matInput formControlName="password" required type="password" placeholder="New password">
                </mat-input-container>
                <mat-input-container>
                    <input matInput formControlName="confirmPassword" required type="password" placeholder="Confirm password">
                </mat-input-container>
                <input type="hidden" formControlName="token">
                <button type="submit" [disabled]="!changePasswordForm.form.valid" mat-raised-button color="primary">Reset Password</button>
            </form>
            <mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>
        </mat-card-content>
    </mat-card>
</div>