<div class="home-wrap">
    <!-- <div class="row image-content bgimage">
        <div>
            <h1>Find the best items to sell on ebay</h1>
        </div>
    </div> -->

    <!-- <div class="row marketing">
        <div class="col-lg-4">
            <img src="../../assets/image/search.png" />
            <h2>Find dropshipper competitors</h2>
        </div>
        <div class="col-lg-4">
            <img src="../../assets/image/cart.png" />
            <h2>Find most selled items on ebay</h2>
        </div>
        <div class="col-lg-4">
            <img src="../../assets/image/delivery.png" />
            <h2>Generate Tracking numbers</h2>
        </div>
    </div> -->
    <div class="row video">
        <div class="col-lg-6 col-md-12 image-responsive d-block" [ngStyle]="{ 'background-image': 'url(assets/image/Macbook-page.png)'}">
            <iframe width="1200" height="800" [src]="url" frameborder="8" allowfullscreen></iframe>
        </div>
        <div class="col-lg-6 col-md-12 description">
            <h3 class="d-block text-center">Online Dropshipping Research tool in real time for best selling items on Ebay and Amazon</h3>
            <a class="uppercase" [routerLink]="['/signup']">START 3 DAYS FREE TRIAL</a>
        </div>
    </div>

    <div class="container features">
        <h1 class="section-title">What is Shipperbay?</h1>
        <div class="row text-center">
            <div class="col-sm-4 scrollimation in">
                <div class="">
                    <div class="icon d-block">
                        <i class="media-object icon-1 fa fa-sliders"></i>
                        <!-- <i class="media-object icon-2 fa fa-sliders"></i> -->
                    </div>
                    <div class="media-body">
                        <h5 class="uppercase">find dropshippers</h5>
                        <p>Find other dropshippers with top rated seller rating!</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 scrollimation d1 in">
                <div class="">
                    <div class="icon d-block">
                        <i class="media-object icon-1 fa fa-send-o"></i>
                        <!-- <i class="media-object icon-2 fa fa-send"></i> -->
                    </div>
                    <div class="media-body">
                        <h5 class="uppercase">find best selling items</h5>
                        <p>Find most selling items on Ebay and also the supplier from Amazon just with one click!</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 scrollimation d2 in">
                <div class="">
                    <div class="icon d-block">
                        <i class="media-object icon-1 fa fa-flash"></i>
                        <!-- <i class="media-object icon-2 fa fa-flash"></i> -->
                    </div>
                    <div class="media-body">
                        <h5 class="uppercase">track your package</h5>
                        <p>Track your package and check the status!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h1 class="section-title">Supported Suppliers</h1>
        <div class="row clients">
            <div class="col-md-3 center-logo">
                <div class="client scrollimation in">
                    <img class="img-responsive img-center" src="assets/image/amazon.png" alt="amazon">
                </div>
            </div>
            <div class="col-md-3">
                <div class="client scrollimation in">
                    <img class="img-responsive img-center" src="assets/image/walmart-logo.png" alt="amazon">
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <h1 class="section-title">Our Features</h1>
        <p class="section-description">Checkout how we can help you to increase you Dropshipping business!</p>

        <div class="row db-padding-btm db-attached">
            <div class="col-xs-12 col-sm-3 col-md-3">
                <div class="db-wrapper">
                    <div class="db-pricing-supports-list">
                        <ul>
                            <!-- <li>Unlimited USPS tracking generation</li> -->
                            <!-- <li>Unlimited UPS tracking generation</li> -->
                            <!-- <li>Unlimited FEDEX tracking generation</li> -->
                            <li>20 UPS tracked packages/Day</li>
                            <li>Unlimited search for competitors</li>
                            <li>Unlimited saved competitors</li>
                            <li>Unlimited competitor research</li>
                            <li>Unlimited items match search</li>
                            <li>Unlimited saved hot items</li>
                            <li>Unlimited Amazon best items search</li>
                            <li>Unlimited saved hot items</li>
                            <li>Amazon top 100 by category</li>
                            <li>Sales per day estimator</li>
                        </ul>
                        <div class="pricing-footer"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="db-wrapper">
                    <div class="db-pricing-eleven db-bk-color-two">
                        <div class="ribbon-wrapper-red-first">
                            <div class="ribbon-red">25% off</div>
                        </div>
                        <div class="price">
                            <div class="pricing-plan-name">Tracking plan</div>
                            <div class="pricing-plan-price">
                                <sup>$</sup>29<span>.99/month</span>
                            </div>
                            <!-- <small>per month</small> -->
                        </div>
                        <div class="type uppercase">
                            Subscription
                        </div>
                        <ul class="db-pricing-supports">
                            <!-- <li><i class="fas fa-check-circle"></i></li>
                            <li><i class="fas fa-check-circle"></i></li>
                            <li><i class="fas fa-check-circle"></i></li> -->
                            <li><i class="fas fa-check-circle"></i></li>
                            <li><i class="fas fa-times-circle"></i></li>
                            <li><i class="fas fa-times-circle"></i></li>
                            <li><i class="fas fa-times-circle"></i></li>
                            <li><i class="fas fa-times-circle"></i></li>
                            <li><i class="fas fa-times-circle"></i></li>
                            <li><i class="fas fa-times-circle"></i></li>
                            <li><i class="fas fa-times-circle"></i></li>
                            <li><i class="fas fa-times-circle"></i></li>
                            <li><i class="fas fa-times-circle"></i></li>
                        </ul>
                        <div class="pricing-footer">
                            <a class="btn db-button-color-square btn-lg uppercase" [routerLink]="['/signup']">Start Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="db-wrapper">
                    <div class="db-pricing-eleven db-bk-color-two popular">
                        <div class="ribbon-wrapper-red-second">
                            <div class="ribbon-red">25% off</div>
                        </div>
                        <div class="price">
                            <div class="pricing-plan-name">Ebay plan</div>
                            <div class="pricing-plan-price">
                                <sup>$</sup>14<span>.99/month</span>
                            </div>
                            <!-- <small>per month</small> -->
                        </div>
                        <div class="type uppercase">
                            Subscription
                        </div>
                        <ul class="db-pricing-supports">
                            <!-- <li><i class="fas fa-times-circle"></i></li>
                            <li><i class="fas fa-times-circle"></i></li>
                            <li><i class="fas fa-times-circle"></i></li> -->
                            <li><i class="fas fa-times-circle"></i></li>
                            <li><i class="fas fa-check-circle"></i></li>
                            <li><i class="fas fa-check-circle"></i></li>
                            <li><i class="fas fa-check-circle"></i></li>
                            <li><i class="fas fa-check-circle"></i></li>
                            <li><i class="fas fa-check-circle"></i></li>
                            <li><i class="fas fa-times-circle"></i></li>
                            <li><i class="fas fa-times-circle"></i></li>
                            <li><i class="fas fa-times-circle"></i></li>
                            <li><i class="fas fa-times-circle"></i></li>
                        </ul>
                        <div class="pricing-footer">
                            <a class="btn db-button-color-square btn-lg uppercase" [routerLink]="['/signup']">Start Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="db-wrapper">
                    <div class="db-pricing-eleven db-bk-color-two">
                        <div class="ribbon-wrapper-red-first">
                            <div class="ribbon-red">25% off</div>
                        </div>
                        <div class="price">
                            <div class="pricing-plan-name">Amazon plan</div>
                            <div class="pricing-plan-price">
                                <sup>$</sup>19<span>.99/month</span>
                            </div>
                            <!-- <small>per month</small> -->
                        </div>
                        <div class="type">
                            Subscription
                        </div>
                        <ul class="db-pricing-supports">
                            <!-- <li><i class="fas fa-times-circle"></i></li>
                            <li><i class="fas fa-times-circle"></i></li>
                            <li><i class="fas fa-times-circle"></i></li> -->
                            <li><i class="fas fa-times-circle"></i></li>
                            <li><i class="fas fa-times-circle"></i></li>
                            <li><i class="fas fa-times-circle"></i></li>
                            <li><i class="fas fa-times-circle"></i></li>
                            <li><i class="fas fa-times-circle"></i></li>
                            <li><i class="fas fa-times-circle"></i></li>
                            <li><i class="fas fa-check-circle"></i></li>
                            <li><i class="fas fa-check-circle"></i></li>
                            <li><i class="fas fa-check-circle"></i></li>
                            <li><i class="fas fa-check-circle"></i></li>
                        </ul>
                        <div class="pricing-footer">
                            <a class="btn db-button-color-square btn-lg uppercase" [routerLink]="['/signup']">Start Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-2">
                <div class="db-wrapper">
                    <div class="db-pricing-eleven db-bk-color-two">
                        <div class="ribbon-wrapper-red-first">
                            <div class="ribbon-red">25% off</div>
                        </div>
                        <div class="price">
                            <div class="pricing-plan-name">Full pack</div>
                            <div class="pricing-plan-price">
                                <sup>$</sup>39<span>.99/month</span>
                            </div>
                            <!-- <small>per month</small> -->
                        </div>
                        <div class="type">
                            Subscription
                        </div>
                        <ul class="db-pricing-supports">
                            <!-- <li><i class="fas fa-check-circle"></i></li>
                            <li><i class="fas fa-check-circle"></i></li>
                            <li><i class="fas fa-check-circle"></i></li> -->
                            <li><i class="fas fa-check-circle"></i></li>
                            <li><i class="fas fa-check-circle"></i></li>
                            <li><i class="fas fa-check-circle"></i></li>
                            <li><i class="fas fa-check-circle"></i></li>
                            <li><i class="fas fa-check-circle"></i></li>
                            <li><i class="fas fa-check-circle"></i></li>
                            <li><i class="fas fa-check-circle"></i></li>
                            <li><i class="fas fa-check-circle"></i></li>
                            <li><i class="fas fa-check-circle"></i></li>
                            <li><i class="fas fa-check-circle"></i></li>
                        </ul>
                        <div class="pricing-footer">
                            <a class="btn db-button-color-square btn-lg uppercase" [routerLink]="['/signup']">Start Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="section-title">Our Partners</h1>
        <div class="row">
           <div class="col-md-3">
                <div class="client">
                    <a target="_blank" href="https://dropshiplister.com/">
                        <img class="img-responsive img-center dropshiplister-img" src="../../assets/image/dropshiplister.png" alt="amazon">
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="client">
                    <a target="_blank" href="https://owl-squad.com/">
                        <img class="img-responsive img-center" src="../../assets/image/owl.png" alt="amazon">
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="client">
                    <a target="_blank" href="https://www.dropshipbeast.com/">
                        <img class="img-responsive img-center" src="assets/image/beastlogo.png" alt="amazon">
                    </a>
                </div>
            </div>
            <div class="col-md-2">
                 <div class="client">
                     <a target="_blank" href="https://dropshiphelper.net/">
                         <img class="img-responsive img-center" src="../../assets/image/dropshiphelper.png" alt="amazon">
                     </a>
                 </div>
             </div>
        </div>
        <div class="row partners">
           <div class="col-md-3">
                Sales Items Lister for Ebay
            </div>
            <div class="col-md-3">
                Skilled Virtual Assistants
            </div>
            <div class="col-md-3">
                Ebay repricer and quantity manager. Tracking uploader.
            </div>
            <div class="col-md-2">
                Extension automates order fulfillment tasks in Ebay.
             </div>
        </div>
        <!-- End row -->
    </div>
    <div class="container">
        <div class="row reviews team-member">
            <div class="col-md-2 text-center">
                <div class="circle-img-responsive" [ngStyle]="{ 'background-image': 'url(assets/image/reviewer1.jpg)'}"></div>
            </div>
            <div class="col-sm-7">
                <div class="member-details">
                    <p>After I start to use the Shipperbay tool I upgrated my online store with almost 200 really hot items. I increased my sellings and my profit. It saves me huge ammount of time to wonder what to sell and what price to use. Excellent helper
                        for dropshippers.
                        <span class="d-block text-right">Dilyana Dimitrova</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="row reviews team-member right">
            <div class="col-md-2 order-lg-2">
                <div class="circle-img-responsive" [ngStyle]="{ 'background-image': 'url(assets/image/reviewer2.jpg)'}"></div>
            </div>
            <div class="col-sm-7 col-sm-pull-2 order-lg-1">
                <div class="member-details">
                    <p>
                        I can track my packages easy and fast! Great tool!
                        <span class="d-block text-left">Ivan Petrov</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
