.mat-spinner {
    margin: 0 auto !important;
}

.card-header {
    border: 0;
    padding: 0.75rem 0.2rem;
    background: #ededed;

  div[data-title="trackingNumber"] {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    font-size: 15px;
    // overflow: hidden !important;
    text-overflow: ellipsis;
  }
}

.total-number {
    padding-top: 1%;
}

.pageionation-custom {
    width: 29%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.list-div {
    width: 95%;
}

.float-right {
    padding: 0;
}

.card-body {
    font-size: 15px;
    div[data-title=City] {
        margin-top: 0px;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.important-message {
    color: red;
    align-content: center !important;
}

.fa-smaller {
    font-size: smaller;
}

.fa-check {
    font-size: large;
    color: #01C32F;
}

.fa-times {
    font-size: large;
    color: #FC3639;
}

.fa-plane {
    font-size: large;
    color: #33b5e5;
}

.empty-div {
    width: 100%;
    min-width: 100% !important;
}

.btn btn-sm{

}