<!-- <div class="content" fxLayout="column" fxLayoutAlign="center none">
    <div class="card-deck col-md-12 text-center">
        <div class="card-new first-card" style="max-width: 21rem;">
            <div class="card-body">
                <circle-progress *ngIf="userStatistics" class="float-left" [percent]="100" [showSubtitle]="false" [titleFontSize]="'40'" [titleColor]="'#ffffff'" [radius]="60" [space]="-10" [outerStrokeWidth]="6" [outerStrokeColor]="'#ffffff'" [innerStrokeColor]="'#e7e8ea'"
                    [innerStrokeWidth]="0" [title]="userStatistics?.totalSavedSellers.toString()" [animateTitle]="false" [animationDuration]="1000" [showUnits]="false" [showBackground]="false" [backgroundColor]="'#2481BD'" [clockwise]="true"></circle-progress>
                <div class="title-div float-left">
                    <i class="fas fa-user-tie card-icon" aria-hidden="true"></i>
                    <h4 class="card-title">Saved Seller</h4>
                </div>

            </div>
        </div>
        <div class="card-new second-card" style="max-width: 21rem;">
            <div class="card-body">
                <circle-progress *ngIf="userStatistics" class="float-left" [percent]="100" [showSubtitle]="false" [titleFontSize]="'40'" [titleColor]="'#ffffff'" [radius]="60" [space]="-10" [outerStrokeWidth]="6" [outerStrokeColor]="'#ffffff'" [innerStrokeColor]="'#e7e8ea'"
                    [innerStrokeWidth]="0" [title]="userStatistics?.totalSavedItems.toString()" [animateTitle]="false" [animationDuration]="1000" [showUnits]="false" [showBackground]="false" [backgroundColor]="'#2481BD'" [clockwise]="true"></circle-progress>
                <div class="title-div float-left">
                    <i class="fas fa-box-open card-icon" aria-hidden="true"></i>
                    <h4 class="card-title">Saved Items</h4>
                </div>
            </div>
        </div>
        <div class="card-new third-card" style="max-width: 21rem;">
            <div class="card-body">
                <circle-progress *ngIf="userStatistics" class="float-left" [percent]="100" [showSubtitle]="false" [titleFontSize]="'40'" [titleColor]="'#ffffff'" [radius]="60" [space]="-10" [outerStrokeWidth]="6" [outerStrokeColor]="'#ffffff'" [innerStrokeColor]="'#e7e8ea'"
                    [innerStrokeWidth]="0" [title]="userStatistics?.totalSavedTrackingNumbers.toString()" [animateTitle]="false" [animationDuration]="1000" [showUnits]="false" [showBackground]="false" [backgroundColor]="'#2481BD'" [clockwise]="true"></circle-progress>
                <div class="title-div float-left">
                    <i class="fa fa-truck card-icon" aria-hidden="true"></i>
                    <h4 class="card-title">Saved Trackings</h4>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div>
    <div class="row dashboard-wrapper">
        <div class="col-lg-3 col-sm-6">
            <dashboard-card [cardTitle]="'Used trackings'" [cardValue]="userStatistics?.requestsPerDay[0].requests" [cardIcon]="'ti-truck'" [cardIconColorClass]="'icon-green'" [cardFooterText]="'Tracking numbers'" [cardFooterIcon]="'ti-calendar'" [showValue]="hasUserStatistics()">
            </dashboard-card>
        </div>
        <div class="col-lg-3 col-sm-6">
            <dashboard-card [cardTitle]="'Tracking limits'" [cardValue]="userStatistics?.requestsPerDay[0].requests" [cardIcon]="'ti-truck'" [cardIconColorClass]="'icon-green'" [cardFooterText]="'Tracking numbers'" [cardFooterIcon]="'ti-calendar'" [showValue]="hasUserStatistics()">
            </dashboard-card>
        </div>
        <div class="col-lg-3 col-sm-6">
            <dashboard-card [cardTitle]="'Saved users'" [cardValue]="userStatistics?.requestsPerDay[0].requests" [cardIcon]="'ti-user'" [cardIconColorClass]="'icon-orange'" [cardFooterText]="'Ebay seller'" [cardFooterIcon]="'ti-target'" [showValue]="hasUserStatistics()">
            </dashboard-card>
        </div>
    </div>
    <div class="row dashboard-wrapper">
        <div class="col-lg-3 col-sm-6">
            <dashboard-card [cardTitle]="'Saved items'" [cardValue]="userStatistics?.requestsPerDay[0].requests" [cardIcon]="'ti-shopping-cart'" [cardIconColorClass]="'icon-blue'" [cardFooterText]="'Products'" [cardFooterIcon]="'ti-package'" [showValue]="hasUserStatistics()">
            </dashboard-card>
        </div>
    </div>
</div>