// Dimensions
$header-height: 64px;
$footer-height: 100px;
// Colors
$header-background: #383838;
$header-color: #9b9b9b;
$header-color-hover:#33b1ca;
$primary-color: #007bff;
$body-backgroud-color: #ececec;
$dark-gray: #424242;
$middle-gray: #70726c;
$dark-hover: #080808;
$light-hover:#555;
$black: #000;
$white: #fff;
$border-devider: #e5e5e5;
$light-border-devider: #e7e7e7;
$font-color: #444;
$tabs:#414241;
$tab-active:#35b9d2;
$tab-active-text: #09BCD0;
$error: #a94442;
