<!--Grid row-->
<div class="row mb-5">

    <!--Grid column-->
    <div class="col-lg-4 col-md-12">

        <p class="h5 mb-4"><code>Settings configuration</code></p>

        <div class="embed-responsive embed-responsive-16by9 z-depth-1">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vEpN_KUqblY?ecver=2" style="height: 101%" allowfullscreen></iframe>
        </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6">

        <p class="h5 mb-4"><code>Import sellers from file</code></p>

        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_-wwvJTA9zo?ecver=2" style="height: 101%" allowfullscreen></iframe>
        </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6">

        <p class="h5 mb-4"><code>Search for Ebay sellers</code></p>

        <div class="embed-responsive embed-responsive-16by9 z-depth-2">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lz3gY7_lNec" style="height: 101%" allowfullscreen></iframe>
        </div>

    </div>
    <!--Grid column-->

</div>
<!--Grid row-->

<!--Grid row-->
<div class="row mb-5">

    <!--Grid column-->
    <div class="col-lg-4 col-md-12">

        <p class="h5 mb-4"><code>Webinar - Find hot items Ebay dropshipping</code></p>

        <div class="embed-responsive embed-responsive-16by9 z-depth-3">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WHVcGtQ_PAk" allowfullscreen></iframe>
        </div>

    </div>

    <div class="col-lg-4 col-md-12">

        <p class="h5 mb-4"><code>Amazon Dropshipping - hot items from Walmart</code></p>

        <div class="embed-responsive embed-responsive-16by9 z-depth-3">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/8n9nGwMABXg" allowfullscreen></iframe>
        </div>

    </div>

    <div class="col-lg-4 col-md-12">

        <p class="h5 mb-4"><code>Webinar - find great items for Amazon FBA</code></p>

        <div class="embed-responsive embed-responsive-16by9 z-depth-3">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TeWhsROohxE" allowfullscreen></iframe>
        </div>

    </div>


    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6">

        <p class="h5 mb-4"><code>Tracking Generator</code></p>

        <div class="embed-responsive embed-responsive-16by9 z-depth-4">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/TeWhsROohxE" allowfullscreen></iframe>
        </div>

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <!-- <div class="col-lg-4 col-md-6">

        <p class="h5 mb-4"><code>Video 6</code></p>

        <div class="embed-responsive embed-responsive-16by9 z-depth-5">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cJW-4nweDEA" allowfullscreen></iframe>
        </div>

    </div> -->
    <!--Grid column-->

</div>
<!--Grid row-->

<!--Grid row-->
<!-- <div class="row d-flex justify-content-center">

  
    <div class="col-md-6">

        <p class="h5 mb-4"><code>Video 7</code></p>

        <div class="embed-responsive embed-responsive-16by9 hoverable">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cJW-4nweDEA" style="height: 101%" allowfullscreen></iframe>
        </div>

    </div>


</div> -->
<!--Grid row-->