<div>
  <div class="row">
      <div class="col-lg-3 col-sm-6">
        <items-card [cardTitle]="'Successful Listings'"
          [cardValue]="totalItems"
          [cardIcon]="'ti-star'"
          [cardIconColorClass]="'icon-orange'"
          [cardFooterText]="'Best products'"
          [cardFooterIcon]="'ti-gift'"
          [showValue]="hasUserStatistics()">
        </items-card>
      </div>
      <div class="col-lg-3 col-sm-6">
        <items-card [cardTitle]="'Average Price'"
          [cardValue]="avgPrice.toFixed(2).toString()"
          [cardIcon]="'ti-money'"
          [cardIconColorClass]="'icon-green'"
          [cardFooterText]="'Price range'"
          [cardFooterIcon]="'ti-light-bulb'"
          [showValue]="hasUserStatistics()">
        </items-card>
      </div>
      <div class="col-lg-3 col-sm-6">
        <items-card [cardTitle]="'Total Price'"
          [cardValue]="totalPrice.toFixed(2).toString()"
          [cardIcon]="'ti-wallet'"
          [cardIconColorClass]="'icon-blue'"
          [cardFooterText]="'Items price'"
          [cardFooterIcon]="'ti-shine'"
          [showValue]="hasUserStatistics()">
        </items-card>
      </div>
      <div class="col-lg-3 col-sm-6">
        <items-card [cardTitle]="'Feedback Score'"
          [cardValue]="userStatistics?.feedbackScore.toString()"
          [cardIcon]="'ti-medall'"
          [cardIconColorClass]="'icon-red'"
          [cardFooterText]="'Seller rating'"
          [cardFooterIcon]="'ti-cup'"
          [showValue]="hasUserStatistics()">
        </items-card>
      </div>
  </div>
  <div class="row">
      <div class="col-lg-3 col-sm-6">
        <items-card [cardTitle]="'Location'"
          [cardValue]="userStatistics?.country.toString()"
          [cardIcon]="'ti-location-pin'"
          [cardIconColorClass]="'icon-green'"
          [cardFooterText]="'Country'"
          [cardFooterIcon]="'ti-location-arrow'"
          [showValue]="hasUserStatistics()">
        </items-card>
      </div>
      <div class="col-lg-3 col-sm-6">
        <items-card [cardTitle]="'Sell Through Rate'"
          [cardValue]="userStatistics?.sellThroughRate.toFixed(2).toString()"
          [cardIcon]="'ti-bar-chart'"
          [cardIconColorClass]="'icon-blue'"
          [cardFooterText]="'Score'"
          [cardFooterIcon]="'ti-stats-up'"
          [showValue]="hasUserStatistics()">
        </items-card>
      </div>
      <div class="col-lg-3 col-sm-6">
        <items-card [cardTitle]="'Active Listings'"
          [cardValue]="userStatistics?.activeListings.toString()"
          [cardIcon]="'ti-shopping-cart'"
          [cardIconColorClass]="'icon-red'"
          [cardFooterText]="'Items for sale'"
          [cardFooterIcon]="'ti-package'"
          [showValue]="hasUserStatistics()">
        </items-card>
      </div>
      <div class="col-lg-3 col-sm-6">
        <items-card [cardTitle]="'Username'"
          [cardValue]="userStatistics?.retailerUsername.toString()"
          [cardIcon]="'ti-user'"
          [cardIconColorClass]="'icon-orange'"
          [cardFooterText]="'Ebay Seller'"
          [cardFooterIcon]="'ti-target'"
          [showValue]="hasUserStatistics()">
        </items-card>
      </div>
  </div>
</div>
