.file-input-wrapper {
    width: 104px;
    height: 40px;
    overflow: hidden;
    position: relative;
}

.file-input-wrapper>input[type="file"] {
    font-size: 200px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}

.progress {
    width: 100%;
    margin-top: 5px;
}

.bootstrap-filestyle {
    position: relative;
    border-collapse: separate;
    margin-bottom: 0;

    .group-span-filestyle {
        display: table-cell;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    label {
        z-index: 2;
        margin-left: -1px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        position: relative;
    }
    .btn-primary {
        margin-bottom: 0;
    }
}

input[type='file'] {
    cursor: pointer;
}
