<div class="panel panel-default">
    <div class="panel-body form-horizontal col-md-6 col-md-3-offset">
        <form (submit)="submit(settingsForm)" [formGroup]="settingsForm" #form="ngForm">
            <div class="from-wrapper">
                <div class="form-group row" [ngClass]="{'has-error': settingsForm.get('ebayTax').hasError('valueNumber')}">
                    <label for="ebayTax" class="col-sm-4 col-form-label control-label">Store Fees</label>
                    <div class="input-group col-sm-6 inline-div">
                        <input type="text" class="form-control" formControlName="ebayTax" placeholder="Ebay Tax">
                        <div class="input-group-append">
                            <span class="input-group-text">%</span>
                        </div>
                        <span *ngIf="settingsForm.get('ebayTax').errors" class="help-block">
                            This value should be a valid number!
                        </span>
                    </div>
                </div>
                <div class="form-group row" [ngClass]="{'has-error': settingsForm.get('amazonTax').hasError('valueNumber')}">
                    <label for="amazonTax" class="col-sm-4 col-label">Supplier Fees</label>
                    <div class="input-group col-sm-6 inline-div">
                        <input type="text" class="form-control" formControlName="amazonTax" placeholder="Amazon Tax">
                        <div class="input-group-append">
                            <span class="input-group-text">%</span>
                        </div>
                        <span *ngIf="settingsForm.controls['amazonTax'].invalid" class="help-block">This value should be a valid number!</span>
                    </div>
                </div>
                <div class="form-group row" [ngClass]="{'has-error': settingsForm.get('paypalTax').hasError('valueNumber')}">
                    <label for="paypalTax" class="col-sm-4 col-form-label">Paypal Fees</label>
                    <div class="input-group col-sm-6 inline-div">
                        <input type="text" class="form-control" formControlName="paypalTax" placeholder="Paypal Tax">
                        <div class="input-group-append">
                            <span class="input-group-text">%</span>
                        </div>
                        <span *ngIf="settingsForm.get('paypalTax').hasError('valueNumber')" class="help-block">This value should be a valid number!</span>
                    </div>
                </div>
                <div class="form-group row" [ngClass]="{'has-error': settingsForm.get('otherTax').hasError('valueNumber')}">
                    <label for="otherTax" class="col-sm-4 col-form-label">Other Fees</label>
                    <div class="input-group col-sm-6 inline-div">
                        <input type="text" class="form-control" formControlName="otherTax" placeholder="Other Tax">
                        <div class="input-group-append">
                            <span class="input-group-text">$</span>
                        </div>
                        <span *ngIf="settingsForm.get('otherTax').hasError('valueNumber')" class="help-block">This value should be a valid number!</span>
                    </div>
                </div>
                <div class="form-group row" [ngClass]="{'has-error': settingsForm.controls['country'].invalid && (settingsForm.controls['country'].touched || form.submitted)}">
                    <label for="country" class="col-sm-4 col-form-label">Country</label>
                    <div class="col-sm-6 inline-div">
                        <select class="form-control ddlCountry" formControlName="country" name="country">
                            <option value="">Select country...</option>
                            <option value="US">United States</option>
                            <option value="GB">United Kingdom</option>
                            <option value="DE">Germany</option>
                        </select>
                        <span *ngIf="settingsForm.controls['country'].invalid && (settingsForm.controls['country'].touched || form.submitted)" class="help-block">Country is required!</span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-10 text-center">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div class="clearfix"></div>
    </div>
</div>