@import "../../../../assets/scss/base/variables";
.mat-dialog-container {
    background: #fff;
    color: $middle-gray;
}

.mat-dialog-title {
    border-bottom: 1px solid $middle-gray;
    color: black;
    font-weight: bold;
}

.mat-dialog-actions {
    border-top: 1px solid $middle-gray;
    display: flex;
    justify-content: flex-end;
}

.mat-dialog-content {
    overflow-x: hidden;
    color: $middle-gray;
}

.panel {
    color: black;
}