<h2 mat-dialog-title>Terms and Conditions</h2>
<mat-dialog-content>
    <div class="row panel panel-default box-shadow amazon-entities">
        <div class="panel-body amazon-body">
            <p>If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use:</p>
            <p>1. The content of the pages of this website is for your general information and use only. It is subject to change
            without notice.</p>
            <p>2. Agreeing with Terms and Conditions you explicitly agree Shipperbay.com to store and keep your personal information according to GDPR compliance. </p>
            <p>3. All software and features, unless otherwise stated, is copyright to Shipperbay.com</p>
            <p>4. You may be notified via email for new features developed by Shipperbay.com team</p>
            <p>5. By accessing this website, you are agreeing to be bound by these website Terms and Conditions of Use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws.</p>
            <p>6. Registering this website, and filling the registration information every customer is responsible for the information provided.</p>
            <p>7. The compnay is NOT responsible for any customer actions which are not in compliance with any laws and regulations.</p>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>