<div class="card">
  <div class="content">
      <div class="row card-row">
          <div class="col-md-3 icon-column">
              <div [ngClass]="cardIconColorClass" class="icon-big text-center">
                  <i [ngClass]="cardIcon"></i>
              </div>
          </div>
          <div class="col-md-9 content-column">
              <div class="numbers">
                  <p>{{cardTitle}}</p>
                  <div *ngIf="showValue">{{cardValue}}</div>
              </div>
          </div>
      </div>
      <div class="footer">
          <hr>
          <div class="stats">
              <i [ngClass]="cardFooterIcon"></i> {{cardFooterText}}
          </div>
      </div>
  </div>
</div>