<div *ngIf="!isFormSubmited" class="text-center">

  <div class="from-wrapper">
    <ba-card baCardClass="button-panel df-size-button-panel box-shadow">

      <form [formGroup]="retailerFrom" class="" (ngSubmit)="searchRetailers(retailerFrom)" #form="ngForm">

        <div class="row row-item align-items-center"
             [ngClass]="{'has-error': retailerFrom.controls['searchWord'].invalid && (retailerFrom.controls['searchWord'].touched || form.submitted)}">
          <div class="col-sm-6">
            Keywords
          </div>
          <div class="col-sm-6">
            <input id="keywords" type="text" class="form-control" placeholder="Search"
                   [formControl]=" retailerFrom.controls['searchWord']"/>
            <span
              *ngIf="retailerFrom.controls['searchWord'].invalid && (retailerFrom.controls['searchWord'].touched || form.submitted)"
              class="help-block">Keyword required!</span>
          </div>
        </div>
        <div class="row row-item align-items-center">
          <div class="col-sm-6">
            Feedbacks
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-6">
                <input id="feedbackMin" type="text" class="form-control" placeholder="Min"
                       [formControl]="retailerFrom.controls['minFeedback']"/>
              </div>
              <div class="col-6">
                <input id="feedbackMax" type="text" class="form-control" placeholder="Max"
                       [formControl]="retailerFrom.controls['maxFeedback']"/>
              </div>
            </div>
          </div>
        </div>
        <div class="row row-item align-items-center">
          <div class="col-sm-6">
            Seller Active Listings
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-6">
                <input type="text" class="form-control" placeholder="Min"
                       [formControl]="retailerFrom.controls['minActiveListings']"/>
              </div>
              <div class="col-6">
                <input type="text" class="form-control" placeholder="Max"
                       [formControl]="retailerFrom.controls['maxActiveListings']"/>
              </div>
            </div>
          </div>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">
            <i class="fas fa-search" aria-hidden="true"></i> Search
          </button>
        </div>
      </form>

    </ba-card>
  </div>

</div>


<div *ngIf="isFormSubmited">
  <a class="btn btn-default btn-back float-left mb-3" (click)="isFormSubmited = !isFormSubmited">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    <span>Back</span>
  </a>

  <app-retailers-search-list *ngIf="isFormSubmited"
                             [searchRetailersParams]="searchRetailersParams"></app-retailers-search-list>
</div>
