<div class="text-center">

  <div class="from-wrapper">
    <ba-card baCardClass="button-panel df-size-button-panel box-shadow" style="display: inline-block;">

      <h3 class="form-title">Add Sellers From File</h3>

      <div class="row row-item align-items-center">
        <div class="col-sm-6">
          <button class="btn btn-default xls" (click)="exportToXls();">Sample .xls</button>
          <button class="btn btn-default txt" (click)="exportToTxt();">Sample .txt</button>
        </div>
        <div class="col-sm-6 text-right">
          <app-retailers-upload id="retailerUpload"></app-retailers-upload>
        </div>
      </div>

      <h3 class="form-title">Register Seller</h3>

      <form (ngSubmit)="createSeller(sellerForm);" [formGroup]="sellerForm" #form="ngForm">
        <div class="row row-item align-items-center"
             [ngClass]="{'has-error': sellerForm.controls['retailerUsername'].invalid && (sellerForm.controls['retailerUsername'].touched || form.submitted)}">
          <div class="col-sm-6">
            Seller:
          </div>
          <div class="col-sm-6">
            <input id="retailerUsername" type="text" class="form-control" placeholder="Seller"
                   [formControl]="sellerForm.controls['retailerUsername']"/>
            <span
              *ngIf="sellerForm.controls['retailerUsername'].invalid && (sellerForm.controls['retailerUsername'].touched || form.submitted)"
              class="help-block">The user name is required!</span>
          </div>
        </div>
        <div class="row row-item align-items-center"
             [ngClass]="{'has-error': sellerForm.controls['feedbackScore'].invalid && (sellerForm.controls['feedbackScore'].touched || form.submitted)}">
          <div class="col-sm-6">
            Feedback Score:
          </div>
          <div class="col-sm-6">
            <input id="feedbackScore" type="text" class="form-control" placeholder="Feedback Score"
                   [formControl]="sellerForm.controls['feedbackScore']"/>
            <span
              *ngIf="sellerForm.controls['feedbackScore'].invalid && (sellerForm.controls['feedbackScore'].touched || form.submitted)"
              class="help-block">The feedback score is required!</span>
          </div>
        </div>
        <div class="row row-item align-items-center"
             [ngClass]="{'has-error': sellerForm.controls['sellerListings'].invalid && (sellerForm.controls['sellerListings'].touched || form.submitted)}">
          <div class="col-sm-6">
            Listings:
          </div>
          <div class="col-sm-6">
            <input id="sellerListings" type="text" class="form-control" placeholder="Listings"
                   [formControl]="sellerForm.controls['sellerListings']"/>
            <span
              *ngIf="sellerForm.controls['sellerListings'].invalid && (sellerForm.controls['sellerListings'].touched || form.submitted)"
              class="help-block">The listings is required!</span>
          </div>
        </div>

        <div class="form-actions">
          <button type="submit" class="tabledit-save-button btn btn-primary">
            <i class="fa fa-floppy-o" aria-hidden="true"></i> Save
          </button>
        </div>
      </form>

    </ba-card>
  </div>

</div>
