<div class="panel panel-default">
    <div class="panel-body form-horizontal col-md-12">
        <div class="table-responsive">
            <div class="table-title">
                <div class="row">
                    <div class="col-md-8">
                        <h2><b>Tickets</b></h2>
                    </div>
                    <div class="col-sm-4">
                        <a (click)="openTicketModal();" class="btn btn-success" data-toggle="modal">
                            <i class="material-icons"></i>
                            <span>Add New Ticket</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="table table-bordred table-striped text-center">
                <div class="row thead">
                    <div class="col-md-1">
                        <span>Title</span>
                    </div>
                    <div class="col-md-4">
                        <span>Content</span>
                    </div>
                    <div class="col-md-1">
                        <span>Created Date</span>
                    </div>
                    <div class="col-md-5">
                        <span>Answer</span>
                    </div>
                    <div class="col-md-1">
                        <span>Status</span>
                    </div>
                </div>
                <div class="row tbody" *ngFor="let ticket of tickets?.elements">
                    <div class="col-md-1">
                        <span>{{ticket?.title}}</span>
                    </div>
                    <div class="col-md-4">
                        <span>{{ticket?.ticketContent}}</span>
                    </div>
                    <div class="col-md-1">
                        <span>{{ticket?.creationDate}}</span>
                    </div>
                    <div class="col-md-5">
                        <span>{{ticket?.answer}}</span>
                    </div>
                    <div class="col-md-1">
                        <span *ngIf="ticket?.status === ticketStatus.CREATED" class="text-red">{{ticket?.status}}</span>
                        <span *ngIf="ticket?.status === ticketStatus.IN_PROGRESS" class="text-yellow">IN PROGRESS</span>
                        <span *ngIf="ticket?.status === ticketStatus.RESOLVED" class="text-green">{{ticket?.status}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>