<div *ngIf="!hideSpinner" class="loading-gif">
  <ba-loader></ba-loader>
</div>
<div *ngIf="hideSpinner">
    <div class="text-right">
        <label>Total tracking numbers: {{trackingList?.length}}</label>
    </div>
    <div class="clearfix"></div>
    <div class="card-deck mb-10 text-center">
        <div class="card empty-div text-center" *ngIf="hideSpinner && trackingList?.length == 0">
            <app-empty-item-list></app-empty-item-list>
        </div>
        <div *ngFor="let tracking of trackingList" class="card-new mb-5 box-shadow">
            <div class="card-header">
                <div data-title="trackingNumber">
                    <i class="fa fa-barcode" aria-hidden="true"></i>
                    <span>{{tracking?.trackingNumber}}</span>
                </div>
            </div>
            <div class="card-body text-left">
                <div data-title="Status">
                    <i class="fa fa-tags fa-smaller" aria-hidden="true"></i>
                    <label class="font-weight-bold">Status: </label>
                    <i *ngIf="trackingStatusList[trackingStatus.STATUS_DELIVERED] === tracking?.trackingStatus" class="fa fa-check" matTooltip="Delivered!" [matTooltipPosition]="'right'"></i>
                    <i *ngIf="trackingStatusList[trackingStatus.STATUS_TRANSIT] === tracking?.trackingStatus" class="fa fa-plane" matTooltip="In Transit!" [matTooltipPosition]="'right'"></i>
                    <i *ngIf="trackingStatusList[trackingStatus.STATUS_EXPIRED] === tracking?.trackingStatus" class="fa fa-times" matTooltip="Expired!" [matTooltipPosition]="'right'"></i>
                </div>
                <div data-title="DeliveryDate" *ngIf="tracking.shippingDate">
                    <i class="fa fa-calendar fa-smaller" aria-hidden="true"></i>
                    <label class="font-weight-bold">Shipping Date: </label>
                    <span> {{tracking?.shippingDate}}</span>
                </div>
                <div data-title="City" *ngIf="tracking.shippingCity">
                    <i class="fa fa-compass" aria-hidden="true"></i>
                    <label class="font-weight-bold">Shipping City: </label>
                    <span> {{tracking?.shippingCity}}</span>
                </div>
                <div data-title="State" *ngIf="tracking.shippingState">
                    <i class="fa fa-compass" aria-hidden="true"></i>
                    <label class="font-weight-bold">Shipping State: </label>
                    <span> {{tracking?.shippingState}}</span>
                </div>

                <div data-title="Delivery Date" *ngIf="tracking.deliveryDate">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <label class="font-weight-bold">Delivery Date: </label>
                    <span> {{tracking?.deliveryDate}}</span>
                </div>

                <div data-title="Delivery City" *ngIf="tracking.deliveryCity">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <label class="font-weight-bold">Delivery City: </label>
                    <span> {{tracking?.deliveryCity}}</span>
                </div>

                <div data-title="Delivery State" *ngIf="tracking.deliveryState">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <label class="font-weight-bold">Delivery State: </label>
                    <span> {{tracking?.deliveryState}}</span>
                </div>

                <div data-title="Weight" *ngIf="tracking.weight">
                        <i class="fa fa-balance-scale" aria-hidden="true"></i>
                        <label class="font-weight-bold">Weight: </label>
                        <span> {{tracking?.weight}}</span>
                </div>
    
                <div class="text-center" data-title="save">
                    <button type="button" class="tabledit-save-button btn btn-sm btn-primary" (click)="saveTracking(tracking)">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        Save
                    </button>
                    <button type="button" class="tabledit-save-button btn btn-sm btn-danger" (click)="deleteTrackingNumber(tracking)">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                        Remove
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
