<mat-toolbar color="primary" class="app-navbar">
    <button mat-button mat-ripple routerLink="/home">
    <img alt="Shipperbay" class="app-angular-logo" src="assets/image/Blue_shield.png">
    <span class="logo">ShipperBay</span> 
  </button>
    <div class="right">
        <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="flex-end center">
            <button *ngIf="!isAuthorized" [routerLink]="['signup']" routerLinkActive="active" mat-button mat-ripple>
        <span>Sign up</span>
      </button>
            <button *ngIf="!isAuthorized" [routerLink]="['login']" routerLinkActive="active" mat-button mat-ripple>
        <span>Login</span>
      </button>
            <button class="greeting-button" *ngIf="isAuthorized && currentUser" mat-button mat-ripple>
        <span>Hello, {{currentUser?.firstName}} {{currentUser?.lastName}}</span>
      </button>
            <button class="greeting-hamburger" *ngIf="isAuthorized" mat-icon-button mat-ripple [matMenuTriggerFor]="accountMenu">
        <mat-icon>menu</mat-icon> 
      </button>
            <mat-menu #accountMenu class="app-header-accountMenu" yposition="below" [overlapTrigger]="false">
                <app-account-menu (logoutClicked)="logoutClicked($event)"></app-account-menu>
            </mat-menu>
        </div>
    </div>
</mat-toolbar>
<div class="alert alert-warning" role="alert" *ngIf="showWarning">
    Your account will expire {{diffDays == 0 ? 'today' : 'in ' + diffDays + ' days'}} ! You can pay from <a [routerLink]="['/system/my-plans']">here</a>.
</div>
<div class="alert alert-warning" role="alert" *ngIf="showExpireWarning">
    Your subscription has expired. You can renew it from <a [routerLink]="['/system/my-plans']">here</a>.
</div>
