
.researchcolumn { 
  .research-label {
    display: flex;
    align-items: center;
    font-size: 14px;

    label {
      margin-bottom: 0;
    }
  }

  mat-form-field { 
    margin-top: 25px;
    width: 100%;
  }

  mat-select {
    .mat-select-arrow {
      color: #a4a7a9;
    }
  }

  .mat-input-placeholder.mat-form-field-placeholder { 
    font-size: 1.25rem !important;
  }

  .mat-input-placeholder.mat-form-field-placeholder {
    color:black;
    font-weight: 500;
  }

  .mat-select-value-text {
    color: rgba($color: #000000, $alpha: 0.6)
  } 

  .mat-form-field-underline {
    background-color: #a4a7a9;
  }

  .mat-form-field-infix { 
    padding-top: 2rem;
  }
}

.category-checkbox {
  .mat-checkbox-frame { 
    border-color: #bdbdbd;
  }
}
.researchcolumn {
  h5 {
    border-bottom: 1px solid #a4a7a9;
    text-transform: uppercase;
    margin-top: 25px;
  }

  .row { 
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

ng4-loading-spinner {

  .spinner-template {
    width: 100%;
    height: 100%;
  }

  .loading-text {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #2bd2f3, 0 0 40px #2bd2f3, 0 0 50px #2bd2f3, 0 0 60px #2bd2f3, 0 0 70px #2bd2f3;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #59b7e0, 0 0 40px #59b7e0, 0 0 50px #59b7e0, 0 0 60px #59b7e0, 0 0 70px #59b7e0, 0 0 80px #59b7e0;
  }
}
