<nav mat-tab-nav-bar>
  <a class="tab-nav-bar" mat-tab-link [routerLink]="['search']" routerLinkActive #rla="routerLinkActive"
     (click)="activeLink = 'route1'"
     [active]="activeLink == 'route1'">
    Search Items
  </a>
  <a mat-tab-link [routerLink]="['items-without-source-list']" routerLinkActive #rla="routerLinkActive"
     (click)="activeLink = 'route2'"
     [active]="activeLink == 'route2'">
    Saved Items Without Supplier
  </a>
  <a mat-tab-link [routerLink]="['items-with-source-list']" routerLinkActive #rla="routerLinkActive"
     (click)="activeLink = 'route3'"
     [active]="activeLink == 'route3'">
    Saved Items With Supplier
  </a>
</nav>
<router-outlet></router-outlet>
