<div *ngIf="!isItemFormSubmitted" class="text-center">
  <div class="from-wrapper">
    <ba-card baCardClass="button-panel df-size-button-panel box-shadow">
      <form (submit)="submit(itemForm)" [formGroup]="itemForm" #form="ngForm">
        <div class="row row-item align-items-center"
             [ngClass]="{'has-error': itemForm.controls['retailerUserName'].invalid && (itemForm.controls['retailerUserName'].touched || form.submitted)}">
          <div class="col-sm-6">
            Username
          </div>
          <div class="col-sm-6">
            <input type="text" class="form-control" formControlName="retailerUserName" placeholder="Username">
            <span
              *ngIf="itemForm.controls['retailerUserName'].invalid && (itemForm.controls['retailerUserName'].touched || form.submitted)"
              class="help-block">The name is required!</span>
          </div>
        </div>
        <div class="row row-item align-items-center">
          <div class="col-sm-6">
            Items sold
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-md-6">
                <input type=" text" formControlName="minItemsSold" class="form-control" placeholder="Min">
              </div>
              <div class="col-md-6">
                <input type="text" formControlName="maxItemsSold" class="form-control" placeholder="Max">
              </div>
            </div>
          </div>
        </div>
        <div class="row row-item align-items-center">
          <div class="col-sm-6">
            Sales date range
          </div>
          <div class="col-sm-6">
            <select class="form-control" formControlName="saleDateRange" *ngIf="salesDate && salesDate.length > 0">
              <option>Select date...</option>
              <option *ngFor="let sale of salesDate" [value]="sale">{{sale}} days</option>
            </select>
          </div>
        </div>
        <div class="row row-item align-items-center" *ngIf="!disableToggleButton">
          <div class="col-sm-4">
            Check supplier
          </div>
          <div class="col-sm-4 d-flex align-items-end flex-column">
            <mat-slide-toggle [disabled]="disableToggleButton" formControlName="checkSupplier">no / yes
            </mat-slide-toggle>
          </div>

          <div class="col-sm-4">
            <select [attr.disabled]="isSupplierChecked" formControlName="supplier" class="form-control">
              <option value="null" selected="selected">Select...</option>
              <option value="amazon">Amazon</option>
              <option value="walmart">Walmart</option>
              <!-- <option value="aliexpress">Aliexpress</option>-->
              <!-- <option value="lettopia">Lettopia</option>
              <option value="aliexpress">Aliexpress</option> -->
            </select>
          </div>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">
            <i class="fas fa-search" aria-hidden="true"></i> Search
          </button>
        </div>
      </form>

    </ba-card>
  </div>
</div>
<div *ngIf="isItemFormSubmitted">
  <a class="btn btn-default btn-back float-left mb-3" (click)="isItemFormSubmitted = !isItemFormSubmitted">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    <span>Back</span>
  </a>

  <app-items-search-list *ngIf="!itemForm.get('checkSupplier').value"
                         [searchItemsListParam]="searchItemsParams"
  ></app-items-search-list>
  <app-items-search-list-supplier *ngIf="itemForm.get('checkSupplier').value"
                                  [searchItemsListParam]="searchItemsParams"
                                  [isSupplierChecked]="itemForm.get('checkSupplier').value"
  ></app-items-search-list-supplier>
</div>
