.pageionation-custom {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.category-items {
  padding-top: 20px;
}

.categories-form {
  padding-top: 20px;
  margin: auto;
  max-width: 500px;
}

.submit-search {
  margin: auto;
  max-width: 20px;
}
