<div *ngIf="!loading && !showNoItems">
    <h2 *ngIf="hasAmazonList()" mat-dialog-title>More Source Items</h2>
    <h2 *ngIf="!hasAmazonList()" mat-dialog-title>Choose supplier</h2>
    <mat-dialog-content *ngIf="hasAmazonList()">
        <div class="row panel panel-default box-shadow amazon-entities" *ngFor="let item of amazonList">
            <!-- AMAZON-ITEMS -->
            <div class="panel-body amazon-body" *ngIf="item && item?.amazonUrl">
                <!-- AMAZON-IMG -->
                <div class="row entity-item" (click)="saveItem(item)">
                    <div class="col-md-3">
                        <div class="profile-itempic">
                            <div *ngIf="item?.amazonPicture" [ngStyle]="{ 'background-image': 'url(' + item?.amazonPicture + ')'}" class="circle-img-responsive"></div>
                            <img *ngIf="!item?.amazonPicture" src="assets/image/default-img.png" [alt]="item?.amazonTitle" class="circle-img-responsive">
                        </div>
                    </div>
                    <!-- AMAZON-CONTENT -->
                    <div class="col-md-9">
                        <!-- AMAZON-TITLE -->
                        <div class="profile-itemtitle col-md-12 text-left">
                            <a target="_blank" [attr.href]="item?.amazonUrl" class="middle-gray-color" (click)="preventClose($event)">
                                <span *ngIf="item?.amazonTitle" class="font-weight-bold"> {{item?.amazonTitle}}</span>
                                <span *ngIf="!item?.amazonTitle" class="float-right">N/A</span>
                            </a>
                        </div>
                        <!-- AMAZON-INFO -->
                        <div class="col-md-10 col-md-offset-1 font-14 padding-top-10">
                            <div class="content-body" data-title="Price">
                                <i class="fa fa-tags fa-smaller" aria-hidden="true"></i>
                                <label class="font-weight-bold">Price: </label>
                                <span *ngIf="item?.amazonPrice" class="float-right price-color"> {{item?.amazonPrice}}</span>
                                <span *ngIf="!item?.amazonPrice" class="float-right">N/A</span>
                            </div>
                        </div>
                        <!-- AMAZON PRIME OR ADD_ON -->
                        <div class="col-md-10 col-md-offset-1 font-14" *ngIf="item && (item?.prime || item?.addOn)">
                            <div class="content-body row" data-title="Price">
                                <div class="col-md-2">
                                    <i class="fa fa-tags fa-smaller" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-10" *ngIf="item && (item?.prime && !item?.addOn) || (item?.prime && item?.addOn)">
                                    <img class="float-right" src="assets/image/checkprime.png" alt="Prime" />
                                </div>
                                <div class="col-md-10" *ngIf="item?.addOn && !item?.prime">
                                    <i class="sh-icon sh-icon-addon float-right">Add-on Item</i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="!item?.amazonUrl" class="no-item-img">
                    <img src="assets/image/productnotavl.jpg" alt="no-item" />
                </div>
            </div>
        </div>
    </mat-dialog-content>

    <mat-dialog-content *ngIf="!hasAmazonList()">
        <form class="supplier-form"  [formGroup]="supplierForm" #form="ngForm">
            <div class="form-group row" [ngClass]="{'has-error': supplierForm.controls['supplier'].invalid && (supplierForm.controls['supplier'].touched || form.submitted)}">
                <label for="source" class="col-md-4">Item source</label>
                <div class="col-md-8">
                    <select class="form-control" formControlName="supplier" name="source" id="source">
                        <option [ngValue]="null">Select...</option>
                        <option *ngFor="let supplier of suppliers" [label]="supplier | titlecase" [ngValue]="supplier"></option>
                    </select>
                    <span *ngIf="supplierForm.controls['supplier'].invalid && (supplierForm.controls['supplier'].touched || form.submitted)" class="help-block">Select supplier!</span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-12 text-center action-button">
                    <button class="btn btn-primary" (click)="submit(supplierForm)">
                    <i class="fas fa-search" aria-hidden="true"></i> Search</button>
                </div>
            </div>
        </form>
    </mat-dialog-content>
</div>
<mat-dialog-content *ngIf="loading || showNoItems">
    <div *ngIf="loading" class="loading-gif text-center supplier-form">
      <ba-loader></ba-loader>
    </div>
    <div *ngIf="showNoItems" class="supplier-form">
        Sorry. This search did not find any results.
        Please try again or use other supplier.
    </div>
    </mat-dialog-content>

<mat-dialog-actions>
  <button class="btn btn-default" (click)="close()">Close</button>
</mat-dialog-actions>
