@import "../../../../assets/scss/base/variables";
.mat-dialog-container {
    background: #fff;
    color: $middle-gray;
}

.mat-dialog-title {
    border-bottom: 1px solid $middle-gray;
}

.mat-dialog-actions {
    border-top: 1px solid $middle-gray;
    display: flex;
    justify-content: flex-end;
}

.mat-dialog-content {
    overflow-x: hidden;
    color: $middle-gray;
}

#contet {
    height: 140px;
}

form {
    width: 95%;
    margin: 0 auto;
}
