<nav mat-tab-nav-bar class="demo-tab-group">
    <a mat-tab-link [routerLink]="['search-by-zip']" routerLinkActive #rla="routerLinkActive" (click)="activeLink = 'route1'"
    [active]="activeLink == 'route1'">
    Generate by Zip Code
    </a>
    <a mat-tab-link *ngIf="isEligible" [routerLink]="['search']" routerLinkActive #rla="routerLinkActive" (click)="activeLink = 'route2'"
       [active]="activeLink == 'route2'">
       Random Generator
    </a>
    <a mat-tab-link *ngIf="isEligible" [routerLink]="['list/usps']" routerLinkActive #rla="routerLinkActive" (click)="activeLink = 'route3'"
       [active]="activeLink == 'route3'">
      Saved USPS
    </a>
    <a mat-tab-link [routerLink]="['list/ups']" routerLinkActive #rla="routerLinkActive" (click)="activeLink = 'route4'"
       [active]="activeLink == 'route4'">
      Saved UPS
    </a>
    <a mat-tab-link *ngIf="isEligible" [routerLink]="['list/fedex']" routerLinkActive #rla="routerLinkActive" (click)="activeLink = 'route5'"
       [active]="activeLink == 'route5'">
      Saved FEDEX
    </a>
    <a mat-tab-link *ngIf="isEligible" [routerLink]="['list']" routerLinkActive #rla="routerLinkActive" (click)="activeLink = 'route6'"
       [active]="activeLink == 'route6'">
      Example Trackings
    </a>
</nav>
<div class="list-div">
    <router-outlet></router-outlet>
</div>
