<div class="app-wrapper" [ngClass]="{'menu-collapsed': isMenuCollapsed}">
  <div class="toaster-container toast-top-center" toastContainer></div>
  <app-sidebar></app-sidebar>
  <ba-page-top [isAuthorized]="true"></ba-page-top>
  <div class="al-main">
    <!-- <div class="main-warning alert alert-warning" role="alert">
      <div class="warning-account-expire" *ngIf="showWarning">
        Your account will expire {{diffDays == 0 ? 'today' : 'in ' + diffDays + ' days'}} ! You can pay from <a
        [routerLink]="['/system/my-plans']">here</a>.
      </div>

      <div class="warning-subscription-expire" *ngIf="showExpireWarning">
        Your subscription has expired. You can renew it from <a [routerLink]="['/system/my-plans']">here</a>.
      </div>
    </div> -->

    <div class="al-content">
      <main class="main-content" role="main">
        <router-outlet>
        </router-outlet>
      </main>
    </div>
  </div>
</div>

<ngx-ui-loader [fgsType]="'three-strings'"></ngx-ui-loader>
