<h2 mat-dialog-title>Orders</h2>
<mat-dialog-content>
    <div class="row">
        <div class="col-md-12">
            <div style="display: block;" *ngIf="lineChartLabels && lineChartLabels.length > 0">
                <canvas baseChart width="800" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"></canvas>
            </div>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="btn btn-default" (click)="close()">Close</button>
</mat-dialog-actions>
