<div class="panel panel-default">
    <div class="text-center panel-header col-md-6 col-md-3-offset">
        <h2>Contacts</h2>
    </div>
    <h5 class="text-center">You can contact us on one of the following channels</h5>
    <div class="panel-body form-horizontal col-md-6 col-md-3-offset">
        <div class="row">
            <div class="col-md-3 text-center">
                <div class="icon-circle">
                    <a target="_blank" href="https://www.facebook.com/groups/1948466328801666/" class="ifacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
                </div>
                <span>Facebook group</span>
            </div>

            <div class="col-md-3 text-center">
                <div class="icon-circle">
                    <a target="_blank" href="https://www.youtube.com/channel/UCzTKHHN2ejfcPkqOI6TRU_Q/videos" class="igoogle" title="YouTube"><i class="fa fa-youtube"></i></a>
                </div>
                <span>Youtube channel</span>
            </div>

            <div class="col-md-3 text-center">
                <div class="icon-circle">
                    <a target="_blank" href="#" class="iLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                </div>
                <span>Linkedin profile</span>
            </div>

            <div class="col-md-3 text-center">
                <div class="icon-circle">
                    <a target="_blank" href="#" class="igoogle" title="Google+"><i class="fa fa-google-plus"></i></a>
                </div>
                <span>shipperbay42@gmail.com</span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>