/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

// MIXINS
@import './assets/scss/mixins/breakpoint';
@import './assets/scss/mixins/text-overflow';
// BASE
@import './assets/scss/base/variables';
@import './assets/scss/base/global';
@import './assets/scss/base/colors';
// COMPONENTS
@import './assets/scss/components/cards';
@import './assets/scss/components/tabs';
@import './assets/scss/components/members';
@import './assets/scss/components/components';
@import './app/theme/theme';
@import './assets/css/themify-icons.css';
@import "~bootstrap/dist/css/bootstrap.css";
@import "./assets/css/ionicons.scss";
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import '~ngx-bar-rating/themes/br-stars-theme';
//@import url('https://fonts.googleapis.com/css?family=oswald');
body {
  background-color: #f5f5f5;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

form label {
  font-weight: bold;
}

// Rating
// .br-stars{
//     text-align: center;

//     .br-units {
//       justify-content: center;

//       &:before {
//         content: 'Rating:';
//         vertical-align: middle;
//         font-size: 16px;
//         margin-right: 6px;
//       }

//       .br-unit {
//         position: relative;
//         background: none;
//         margin-left: 3px;
//         width: 15px;
//         height: 15px;
//         border-radius: 50%;
//         border: 2px solid #323a45;
//         overflow: hidden;

//         &:first-child {
//           margin-left: 0;
//         }

//         &.br-selected,
//         &.br-active,
//         &.br-fraction {
//           background-color: #f27935;
//         }
//         &.br-fraction {
//           -webkit-filter: none;
//           filter: none;
//           background: -moz-linear-gradient(right, #f27935, #F2B59A 45%, #fff 73%, #fff 100%);
//           background: -webkit-linear-gradient(right, #f27935, #F2B59A 45%, #fff 73%, #fff 100%);
//           background: -o-linear-gradient(right, #f27935, #F2B59A 45%, #fff 73%, #fff 100%);
//           background: -ms-linear-gradient(right, #f27935, #F2B59A 45%, #fff 73%, #fff 100%);
//           background: linear-gradient(to right, #f27935, #F2B59A 45%, #fff 73%, #fff 100%);
//         }
//       }
//     }

//     .br-text {
//       font-size: 40px;
//     }
//   }


mat-table {
  &.mat-table {
    display: table;
    width: 100%;
    table-layout: fixed;
    color: #333;
    background: #FFF;
    border-collapse: collapse;

    mat-row,
    mat-header-row {
      padding: 0 10px;
      display: table-row;
      min-height: 0;
      border-bottom: 1px solid #CCC;

      &:after {
        content: none;
      }

      mat-header-cell,
      mat-cell {
        display: table-cell;
        padding: 10px;
        word-wrap: normal;
        text-align: left;
        vertical-align: middle;
        color: #333;
        font-size: 14px;

        &.mat-column-id {
          width: 40px;
        }

        &.mat-column-amazonImage {
          width: 120px;
        }

        &.mat-column-amazonRating {
          width: 160px;
        }

        &.mat-column-amazonTitle {
          width: 30%;
        }

        &.mat-column-sellerInfo {
          width: 10%;
        }

        .mat-sort-header-button {
          text-align: left;
        }
      }

      mat-header-cell {
        font-weight: 700;
      }
    }

    mat-row {
      &:hover {
        background: #f3f7f9;
      }
    }
  }
}

@media all and (max-width: 1600px) {
  mat-table {
    &.mat-table {
      mat-row,
      mat-header-row {
        mat-header-cell,
        mat-cell {
          &.mat-column-amazonTitle,
          &.mat-column-sellerInfo {
            width: auto;
          }
        }
      }
    }
  }
}
