<div class="clearfix"></div>

<app-item-user-statistics [retailerUserName]="searchItemsListParam?.retailerUserName" [totalPrice]="totalPrice"
                          [avgPrice]="avgPrice" [totalItems]="itemsList?.length"></app-item-user-statistics>

<div *ngIf="isLoaded">

  <div class="pagination-custom">
    <pagination #pagination [boundaryLinks]="true" [(ngModel)]="searchItemsListParam.pageNumber"
                [maxSize]="paginationMaxSize" [rotate]="false"
                [totalItems]="totalItems" (pageChanged)="pageChanged($event)"
                [itemsPerPage]="pageSize" class="pagination-sm"></pagination>
  </div>

  <div class="clearfix"></div>
  <div class="list-wrapper">
    <div class="card text-center" *ngIf="hideSpinner && itemsList?.length == 0">
      <app-empty-item-list></app-empty-item-list>
    </div>

    <ba-card baCardClass="button-panel df-size-button-panel box-shadow">
      <div class="filters-top row">
        <div class="col-sm-12 text-right">

          <div class="filters-top-item">
            <label for="ddlSortField">Sort By:</label>
            <select id="ddlSortField" (change)="onSortFieldChange($event.target.value)" class="form-control">
              <option selected value="searchTimesSold">Sold for search</option>
              <option value="profit">Profit</option>
              <option value="timesSold">Total Sold</option>
              <option value="saleDate">Last Sale Date</option>
            </select>
          </div>

          <div class="filters-top-item">
            <label for="ddlSortOrder">Order By:</label>
            <select id="ddlSortOrder" (change)="onSortOrderChange($event.target.value)" class="form-control">
              <option value="asc">Ascending</option>
              <option value="desc" selected>Descending</option>
            </select>
          </div>
        </div>
      </div>
    </ba-card>

    <div>
      <div class="row panel panel-default box-shadow " *ngFor="let item of itemsList">
        <!-- EBAY-ITEMS -->
        <div [ngClass]="{
          'col-md-6': (item?.bestMatch && isSupplierChecked) || (item?.bestMatch && item?.isSavedNewItem),
          'col-md-10': (!item?.bestMatch && !isSupplierChecked) || (isSupplierChecked && !item?.bestMatch)
        }"
             class="text-center titles-table-small ">
          Ebay Item
        </div>
        <div [ngClass]="{
            'col-md-6': (item?.bestMatch && isSupplierChecked) || (item?.bestMatch && item?.isSavedNewItem),
            'col-md-10': (!item?.bestMatch && !isSupplierChecked) || (isSupplierChecked && !item?.bestMatch)
          }" class="panel-body ">
          <div class="row " style="height: 100%;">
            <!-- EBAY-IMG -->
            <div class="col-md-3 align-self-center nopadding ">
              <div class="profile-itempic ">
                <div *ngIf="item?.picture " [ngStyle]="{ 'background-image': 'url(' + item?.picture + ')'} "
                     class="circle-img-responsive "></div>
                <img *ngIf="!item?.picture " src="assets/image/default-img.png " [alt]="item?.itemTitle "
                     class="circle-img-responsive ">
              </div>
            </div>
            <!-- EBAY-CONTENT -->
            <div class="col-md-9 ">
              <!-- EBAY-TITLE -->
              <div [ngClass]="{
                'text-left': (item?.bestMatch && isSupplierChecked) || (item?.bestMatch && item?.isSavedNewItem),
                'text-center': (!item?.bestMatch && !isSupplierChecked) || (isSupplierChecked && !item?.bestMatch)
              }"
                   class="profile-itemtitle col-md-12 nopadding ">
                <a target="_blank " [attr.href]="item?.url " class="middle-gray-color ">
                  <span *ngIf="item?.itemTitle " class="font-weight-bold "> {{item?.itemTitle}}</span>
                  <span *ngIf="!item?.itemTitle " class="float-right ">N/A</span>
                </a>
              </div>
              <div *ngIf="(item?.bestMatch && isSupplierChecked) || (item?.bestMatch && item?.isSavedNewItem)"
                   class="row padding-top-10 ">
                <!-- EBAY-ITEM-INFO -->
                <div class="col-md-6 font-14 ">
                  <!-- PRICE -->
                  <div class="content-body " data-title="Price">
                    <i class="fa fa-money fa-smaller " aria-hidden="true "></i>
                    <label class="font-weight-bold ">Price: </label>
                    <span *ngIf="item?.price " class="float-right price-color "> {{item?.price}}</span>
                    <span *ngIf="!item?.price " class="float-right ">N/A</span>
                  </div>
                  <!-- SALE DATE -->
                  <div class="content-body font-14 " data-title="LastSale ">
                    <i class="fa fa-calendar fa-smaller " aria-hidden="true "></i>
                    <label class="font-weight-bold ">Last sale: </label>
                    <span *ngIf="item?.saleDate " class="float-right "> {{item?.saleDate}}</span>
                    <span *ngIf="!item?.saleDate " class="float-right ">N/A</span>
                  </div>
                  <!-- ORDERS -->
                  <div class="content-body " data-title="Orders ">
                    <i class="fa fa-area-chart fa-smaller " aria-hidden="true "></i>
                    <label class="font-weight-bold ">Orders: </label>
                    <span class="fa-stack float-right " (click)="openOrders(item?.orders); ">
                                            <i class="fa fa-square-o fa-stack-2x "></i>
                                            <i class="fa fa-bar-chart fa-stack-1x "></i>
                                          </span>
                  </div>
                </div>
                <!-- EBAY-ITEM-INFO -->
                <div class="col-md-6 font-14 ">
                  <!-- Search times sold -->
                  <div class="content-body " data-title="SearchTimesSold ">
                    <i class="fa fa-paper-plane fa-smaller " aria-hidden="true "></i>
                    <label class="font-weight-bold ">Sold for search: </label>
                    <span *ngIf="item?.searchTimesSold " class="float-right "> {{item?.searchTimesSold}}</span>
                    <span *ngIf="!item?.searchTimesSold " class="float-right ">N/A</span>
                  </div>
                  <!-- UPC -->
                  <div class="content-body font-14 " data-title="UPC ">
                    <i class="fa fa-barcode fa-smaller " aria-hidden="true "></i>
                    <label class="font-weight-bold ">UPC: </label>
                    <span *ngIf="item?.upc " class="float-right "> {{item?.upc}}</span>
                    <span *ngIf="!item?.upc " class="float-right ">N/A</span>
                  </div>
                  <!-- Time sold -->
                  <div class="content-body font-14" data-title="TimesSold">
                    <i class="fa fa-paper-plane fa-smaller" aria-hidden="true"></i>
                    <label class="font-weight-bold">Total sold: </label>
                    <span *ngIf="item?.timesSold" class="float-right"> {{item?.timesSold}}</span>
                    <span *ngIf="!item?.timesSold" class="float-right">N/A</span>
                  </div>
                </div>
              </div>
              <div *ngIf="(!item?.bestMatch && !isSupplierChecked) || (isSupplierChecked && !item?.bestMatch)" class="row padding-top-10 ">
                <!-- EBAY-ITEM-INFO -->
                <div class="col-md-4 font-14 ">
                  <!-- PRICE -->
                  <div class="content-body " data-title="Price">
                    <i class="fa fa-money fa-smaller " aria-hidden="true "></i>
                    <label class="font-weight-bold ">Price: </label>
                    <span *ngIf="item?.price " class="float-right price-color "> {{item?.price}}</span>
                    <span *ngIf="!item?.price " class="float-right ">N/A</span>
                  </div>
                  <!-- SALE DATE -->
                  <div class="content-body font-14 " data-title="LastSale ">
                    <i class="fa fa-calendar fa-smaller " aria-hidden="true "></i>
                    <label class="font-weight-bold ">Last sale: </label>
                    <span *ngIf="item?.saleDate " class="float-right "> {{item?.saleDate}}</span>
                    <span *ngIf="!item?.saleDate " class="float-right ">N/A</span>
                  </div>
                </div>
                <!-- EBAY-ITEM-INFO -->
                <div class="col-md-4 font-14 ">
                  <!-- Sold for search -->
                  <div class="content-body " data-title="SearchTimesSold ">
                    <i class="fa fa-paper-plane fa-smaller " aria-hidden="true "></i>
                    <label class="font-weight-bold ">Sold for search / total sold: </label>
                    <span class="float-right ">
                      <span *ngIf="item?.searchTimesSold "> {{item?.searchTimesSold}}</span>
                      <span *ngIf="!item?.searchTimesSold ">N/A</span>
                      <span> / </span>
                      <span *ngIf="item?.timesSold"> {{item?.timesSold}}</span>
                      <span *ngIf="!item?.timesSold">N/A</span>
                    </span>
                  </div>
                  <!-- UPC -->
                  <div class="content-body font-14 " data-title="UPC ">
                    <i class="fa fa-barcode fa-smaller " aria-hidden="true "></i>
                    <label class="font-weight-bold ">UPC: </label>
                    <span *ngIf="item?.upc " class="float-right "> {{item?.upc}}</span>
                    <span *ngIf="!item?.upc " class="float-right ">N/A</span>
                  </div>
                </div>
                <div class="col-md-4 font-14 ">
                  <!-- ORDERS -->
                  <div class="content-body " data-title="Orders ">
                    <i class="fa fa-area-chart fa-smaller " aria-hidden="true "></i>
                    <label class="font-weight-bold ">Orders: </label>
                    <span class="fa-stack float-right " (click)="openOrders(item?.orders); ">
                                            <i class="fa fa-square-o fa-stack-2x "></i>
                                            <i class="fa fa-bar-chart fa-stack-1x "></i>
                                          </span>
                  </div>
                  <!-- SULIERS -->
                  <div class="content-body font-14 " data-title="LastSale">
                    <i class="fa  fa-cube fa-smaller " aria-hidden="true "></i>
                    <label class="font-weight-bold ">Find Supplier: </label>
                    <span class="fa-stack float-right icon-red" (click)="openMoreDetails(item);">
                                            <i class="fa fa-bullseye fa-stack-2x "></i>
                                        </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--   -ITEMS -->
        <div *ngIf="(item?.bestMatch && isSupplierChecked) || (item?.bestMatch && item?.isSavedNewItem)" class="col-md-4 panel-body amazon-body ">
          <div class="row " *ngIf="item?.bestMatch && item?.bestMatch.amazonUrl ">
            <!-- AMAZON-IMG -->
            <div class="col-md-6 text-center titles-table-small ">
              Amazon Item
            </div>
            <div class="col-md-4 align-self-center nopadding ">
              <div class="profile-itempic ">
                <div *ngIf="item?.picture "
                     [ngStyle]="{ 'background-image': 'url(' + item?.bestMatch.amazonPicture + ')'} "
                     class="circle-img-responsive "></div>
                <img *ngIf="!item?.picture " src="assets/image/default-img.png " [alt]="item?.itemTitle "
                     class="circle-img-responsive ">
              </div>
            </div>
            <!-- AMAZON-CONTENT -->
            <div class="col-md-8 nopadding ">
              <!-- AMAZON-TITLE -->
              <div class="profile-itemtitle col-md-12 text-left ">
                <a target="_blank " [attr.href]="item?.bestMatch.amazonUrl " class="middle-gray-color ">
                  <span *ngIf="item?.bestMatch.amazonTitle "
                        class="font-weight-bold "> {{item?.bestMatch.amazonTitle}}</span>
                  <span *ngIf="!item?.bestMatch.amazonTitle " class="float-right ">N/A</span>
                </a>
              </div>
              <!-- AMAZON-INFO -->
              <div class="col-md-12 font-14 padding-top-10 ">
                <div class="content-body " data-title="Price ">
                  <i class="fa fa-money fa-smaller " aria-hidden="true "></i>
                  <label class="font-weight-bold ">Price: </label>
                  <span *ngIf="item?.bestMatch.amazonPrice " class="float-right price-color "> {{item?.bestMatch.amazonPrice}}</span>
                  <span *ngIf="!item?.bestMatch.amazonPrice " class="float-right ">N/A</span>
                </div>
              </div>
              <!-- MORE AMAZON ITEMS -->
              <div class="col-md-12 font-14 " *ngIf="item?.amazonEntities && item?.amazonEntities.length> 0">
                <div class="content-body" data-title="More Source Items">
                  <i class="fa fa-cube fa-smaller" aria-hidden="true"></i>
                  <label class="font-weight-bold">More Source Items: </label>
                  <i class="float-right fa fa-amazon-items" (click)="openMoreDetails(item);"></i>
                </div>
              </div>
              <div class="clearfix"></div>
              <!--ASIN -->
              <div class="col-md-12 font-14" *ngIf="item?.amazonEntities && item?.amazonEntities.length > 0">
                <div class="content-body" data-title="ASIN">
                  <i class="fa fa-barcode fa-smaller" aria-hidden="true"></i>
                  <label class="font-weight-bold">ASIN: </label>
                  <span *ngIf="item?.bestMatch.asin" class="float-right"> {{item?.bestMatch.asin}}</span>
                  <img *ngIf="!item?.bestMatch && !item?.bestMatch.asin" class="loader-property"
                       src="assets/image/loading.gif" alt="loading"/>
                </div>
              </div>
              <!-- AMAZON PRIME OR ADD_ON -->
              <div class="col-md-12 font-14" *ngIf="item?.bestMatch.prime || item?.bestMatch.addOn">
                <div class="content-body" data-title="Price">
                  <div class="row">
                    <div class="col-md-2">
                      <i class="fa fa-tags fa-smaller" aria-hidden="true"></i>
                    </div>
                    <div class="col-md-10"
                         *ngIf="(item?.bestMatch.prime && !item?.bestMatch.addOn) || (item?.bestMatch.prime && item?.bestMatch.addOn)">
                      <img class="float-right" src="assets/image/checkprime.png" alt="Prime" style="max-width: 70px;"/>
                    </div>
                    <div class="col-md-10" *ngIf="item?.bestMatch.addOn && !item?.bestMatch.prime">
                      <div class="float-right">
                        <i class="sh-icon sh-icon-addon">Add-on Item</i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="!item?.bestMatch?.amazonUrl" class="no-item-img">
            <img src="assets/image/productnotavl.jpg" alt="no-item"/>
          </div>
        </div>

        <div class="col-md-1 text-center profit-div" data-title="delete">
          <div *ngIf="(item?.bestMatch && isSupplierChecked) || (item?.bestMatch && item?.isSavedNewItem)" class="header uppercase">
            Profit
          </div>
          <div class="contet text-center">
            <div *ngIf="(item?.bestMatch && isSupplierChecked) || (item?.bestMatch && item?.isSavedNewItem)" class="d-block">
              <i class="fa fa-usd" aria-hidden="true"></i>
            </div>
            <div *ngIf="(item?.bestMatch && isSupplierChecked) || (item?.bestMatch && item?.isSavedNewItem)" class="d-block price-color"
                 [ngClass]="{'price-color-green': item?.profit >= 0}">
              <span>{{item?.profit}}</span>
            </div>
          </div>
        </div>

        <!-- DELETE BUTTON -->
        <div class="col-md-1 text-center align-self-center action-div" data-title="delete">
          <button type="button" class="btn btn-sm btn-primary saveBtn" (click)="saveItems(item)">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
            Save
          </button>
          <button type="button" class="tabledit-save-button btn btn-sm btn-danger deleteBtn" (click)="deleteItem(item)">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
            Remove
          </button>
        </div>
      </div>
    </div>
  </div>

</div>

<div *ngIf="!hideSpinner" class="loading-gif">
  <ba-loader></ba-loader>
</div>

