
<!-- <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker> -->

  <!-- <input [mdDatepicker]="myDatepicker" formControlName="chosenDate">
      <button [mdDatepickerToggle]="myDatepicker"></button>
      <md-datepicker #myDatepicker></md-datepicker> -->

<div class="panel panel-default" *ngIf="!isFormSubmited">
    <div class="panel-body form-horizontal">
        <p>Allowed max date range: 4 days!</p> 
        <form [formGroup]="trackingFormByZip" (ngSubmit)="searchTrackingByZip(trackingFormByZip)" #form="ngForm">
            
            <div class="form-group row" [ngClass]="{'has-error': !readOnly && trackingFormByZip.controls['dateRangeFrom'].invalid && (trackingFormByZip.controls['dateRangeFrom'].touched || form.submitted)}">
                <label for="dateRangeFrom" class="col-form-label control-label">Shipping date from: </label>
                
                <div class="col-sm-3">
                        <!-- <mat-form-field> -->
                            <input id="dateRangeFrom" matInput [matDatepicker]="dateRangeFrom" formControlName="dateRangeFrom" [max]="maxDate">
                            <mat-datepicker-toggle matSuffix [for]="dateRangeFrom"></mat-datepicker-toggle>
                            <mat-datepicker #dateRangeFrom></mat-datepicker>
                        <!-- </mat-form-field> -->

                    <!-- <input id="trackingNumber" type="text" class="form-control" placeholder="Search" [formControl]=" trackingFormByZip.controls['trackingNumber']" />
                    <span *ngIf="!readOnly && trackingFormByZip.controls['trackingNumber'].invalid && (trackingFormByZip.controls['trackingNumber'].touched || form.submitted)" class="help-block error-message">Tracking number is required!</span> -->
                </div>
                <label for="dateRangeTo" class="col-form-label control-label">Shipping date to: </label>
                <div class="col-sm-3">

                        <!-- <mat-form-field> -->
                            <input id="dateRangeTo" matInput [matDatepicker]="dateRangeTo" formControlName="dateRangeTo" [max]="maxDate">
                            <mat-datepicker-toggle matSuffix [for]="dateRangeTo"></mat-datepicker-toggle>
                            <mat-datepicker #dateRangeTo></mat-datepicker>
                        <!-- </mat-form-field> -->
                       
                    <!-- <input id="trackingNumber" type="text" class="form-control" placeholder="Search" [formControl]=" trackingFormByZip.controls['trackingNumber']" />
                    <span *ngIf="!readOnly && trackingFormByZip.controls['trackingNumber'].invalid && (trackingFormByZip.controls['trackingNumber'].touched || form.submitted)" class="help-block error-message">Tracking number is required!</span> -->
                </div>
                <div class="col-sm-3">
                    <select [formControl]="trackingFormByZip.controls['country']" class="form-control" name="country">
                        <option selected ="selected" value="us">USA</option>
                       <!--  <option disabled value="uk">United Kingdom</option>-->
                    </select>
                </div>
                <label for="zipCode" class="col-form-label control-label">5 Digits Zip Code: </label>
                <div class="red-mark">
                    <input id="zipCode" type="text" class="form-control" placeholder="5 Digits Zip Code" [formControl]=" trackingFormByZip.controls['zipCode']" />
                    <span style="color:red" *ngIf="!readOnly && trackingFormByZip.controls['zipCode'].invalid && (trackingFormByZip.controls['zipCode'].touched || form.submitted)" class="help-block error-message">Five digits code is required!</span>
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary">
                         <i class="fas fa-search" aria-hidden="true"></i> Generate
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div *ngIf="isFormSubmited">
    <div class="row">
        <div class="col-sm-4 col-form-label text-left">
            <a class="btn btn-default" (click)="isFormSubmited = !isFormSubmited">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                <span class="back-btn">Back</span>
            </a>
        </div>
    </div>
    <app-tracking-search-list-zip [searchTrackingParamsByZip]="searchTrackingParamsByZip"></app-tracking-search-list-zip>
</div>

<!-- <div *ngIf="!isFormSubmited">
    <div class="row justify-content-center">
        
        <div class="col-6">
            <p class="h5 mb-4"><code>Random tracking generator</code></p>
            <div class="embed-responsive embed-responsive-16by9 z-depth-1">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/oup2wzf3CSU?ecver=2" style="height: 101%" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div> -->