<div class="panel panel-default" *ngIf="!isFormSubmited">
    <div class="panel-body form-horizontal">
        <form [formGroup]="trackingForm" (ngSubmit)="searchTracking(trackingForm)" #form="ngForm">
            <div class="form-group row" [ngClass]="{'has-error': !readOnly && trackingForm.controls['trackingNumber'].invalid && (trackingForm.controls['trackingNumber'].touched || form.submitted)}">
                <label for="trackingNumber" class="col-sm-2 col-form-label control-label">Tracking number: </label>
                <div class="col-sm-3">
                    <input id="trackingNumber" type="text" class="form-control" placeholder="Valid USPS/Fedex tracking number" [formControl]=" trackingForm.controls['trackingNumber']" />
                    <span *ngIf="!readOnly && trackingForm.controls['trackingNumber'].invalid && (trackingForm.controls['trackingNumber'].touched || form.submitted)" class="help-block error-message">Valid USPS/Fedex tracking number is required!</span>
                </div>
                <div class="col-sm-3">
                    <select [formControl]=" trackingForm.controls['provider']" class="form-control" name="provider">
                        <option selected="selected" value="FEDEX">FEDEX</option>
                        <!-- <option disabled value="UPS">UPS</option> -->
                        <option value="USPS">USPS</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary">
                         <i class="fas fa-search" aria-hidden="true"></i> Generate
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div *ngIf="isFormSubmited">
    <div class="row">
        <div class="col-sm-4 col-form-label text-left">
            <a class="btn btn-default" (click)="isFormSubmited = !isFormSubmited">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                <span class="back-btn">Back</span>
            </a>
        </div>
    </div>
    <app-tracking-search-list [searchTrackingParams]="searchItemsParams"></app-tracking-search-list>
</div>