<div class="content" fxLayout="row" fxLayoutAlign="center">

  <mat-card elevation="5" fxFlex>

    <mat-card-title>
      <h2>{{title}}</h2>
    </mat-card-title>

    <mat-card-subtitle>
      {{subtitle}}
    </mat-card-subtitle>

    <mat-card-content>

      <p [class]="notification.msgType" *ngIf="notification">{{notification.msgBody}}</p>

      <form *ngIf="!submitted" [formGroup]="form" (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <mat-input-container>
          <input matInput formControlName="email" required placeholder="E-mail">
        </mat-input-container>
        <button type="submit" [disabled]="!loginForm.form.valid" mat-raised-button color="primary">Reset Credentials</button>
      </form>

      <mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>

    </mat-card-content>

  </mat-card>

</div>
