body {
  .mat-dialog-container {
    background-color: $bootstrap-panel-bg;
    box-shadow: $bootstrap-panel-shadow-dark;
    border-radius: $bootstrap-panel-radius;
    color: $default;
  }

  .mat-dialog-actions {
    border-top: 1px solid $middle-gray;

    &:last-child {
      margin-top: 20px;
      margin-bottom: -5px;
      padding-right: 2px;
      padding-bottom: 2px;
      justify-content: flex-end;

      .btn {
        margin-left: 6px;
      }
    }
  }
}
